<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Add District details | OpenSRP </title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<style>
h1 {
    font-size:200%;
}
legend {
    padding:0 5px;
    text-align:right;
}
fieldset > div {
    margin:10px 0;
}
fieldset > legend + div {
    margin-top:0;
}
fieldset > div:last-child {
    margin-bottom:0;
}
label {
    display:inline-block;
    width:100px;
}
/*input {
    width:200px;
}*/
input[type="number"] {
    width:30px;
}
div > input[type="submit"] {
    background: #ccc;
    border:1px solid #999;
    width:auto;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}
div.submit {
    margin-left:100px;
}
.field-validation-error
{

    color:red;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>

<!--added cdn for unobtrusive validation-->

<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>


<meta name="robots" content="NONE,NOARCHIVE" />
<style type="text/css">
        #header {
                   background: #000066
         }

</style>
</head>

<body class=" app-Masters model-hospitaldetails change-form">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">OpenSRP</a></h1>

        </div>

        <div id="user-tools">

                Welcome,
                <strong>root</strong>.


                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>


    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/Masters/">Masters</a>
&rsaquo; <a href="/admin/Masters/disttab/">District</a>
&rsaquo; Add District
</div>

    <!-- Content -->
    <div id="content" class="colM">

        <h1>Add District details</h1>
        <div id="content-main">




<form enctype="multipart/form-data" action="" method="post" id="countytb_form" >
    {% csrf_token %}
<div>

  <fieldset class="module aligned ">
       
    
        <div class="form-row field-country_name">
            
            
                <div>
                    
                    
                        <label class="required" for="country">Country name:<span style="color:red">&nbsp;*</span></label> 

                       
                            <select id="country" name="country_name" value ="" data-val="true" data-val-required="Counrty cannot be empty">
                            <option value="">select</option>
                            {%for x in x %}
                            <option value="{{x}}" >{{x}}</option>
                            {% endfor %}
                            </select>
                            <span class="field-validation-valid" data-valmsg-for="country_name" data-valmsg-replace="true" ></span>
                </div>
                
            
        </div>
    
        <div class="form-row field-county_name">
            
            
                <div>
                    
                    
                        <label class ="required" for="id_county_name">County name:<span style="color:red">&nbsp;*</span></label>

                            <select id="id_county_name" name="county_name" value="" data-val="true" data-val-required="County cannot be empty" >

                       </select>

                       <span class="field-validation-valid" data-valmsg-for="county_name" data-valmsg-replace="true" ></span>
                        
                    
                    
                </div>
            
        </div>
        <div class="form-row field-district_name">


                <div>


                        <label class ="required" for="id_district_name">District name:<span style="color:red">&nbsp;*</span></label>
                        <input type="hidden" name="id" value="0" />
                            <input class="vTextField" id="id_district_name" name="dname" value="" data-val="true" data-val-required="District name cannot be empty" data-val-remote-url="/districtvalidate/" data-val-remote-additionalfields="*.id,*.dname" data-val-remote="User with this id already registered"/>
                      

                       <span class="field-validation-valid" data-valmsg-for="dname" data-valmsg-replace="true" ></span>



                </div>

        </div>
       <div class="form-row field-status">
                <div class="checkbox-row">
                        <input checked="checked" id="status" name="status" type="checkbox" />
                        <label class="vCheckboxLabel" for="id_status">active</label> 
                </div>
            
        </div>

</fieldset>

</div>

<div class="submit-row">
<button type="submit" class="btn btn-success" id="advance-save-button">save</button>
<button type="button" class="btn btn-success" id="advance-cancel-button" onclick="window.location='/admin/Masters/disttab/'">cancel</button>
</div>

</form></div>

  <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>


<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>



<script type="text/javascript">
 $("document").ready(function(){
    $("#country").on('change', function(e){
        var dev = $(e.currentTarget).val();
        
        $.ajax({
            url:"/county/?country_name="+ dev,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#id_county_name').empty();
                $("#id_county_name").append($('<option value="">select</option>'))
                $.each(result.res, function(key, valtext){
                    $('#id_county_name').append($('<option>', {
                        value: valtext,
                        text : valtext
                    }));
                });
            }
        })
    });
});

 $("document").ready(function(){

    $("form").submit(function  (e) {
        
        e.preventDefault();
        if ($("form").valid()) {

            var country = $("select[name=country_name]").val();
            //alert(country)
            var county = $("select[name=county_name]").val();
            //alert(county)
            var district = document.getElementById("id_district_name").value;
            //alert(district)
            var active=document.getElementById('status').checked==true ? "true" :"false";
             $.ajax({

                url: "/savedistrict/?country="+ country +"&county="+ county +"&district="+ district+"&active="+active,
                type: 'GET',
                acceptType: "json",
                success: function (result) {
                if (result.error){
                    
                    for (var key in result.response.keys()){
                        $("#id_"+key).after("<p class='error'>"+result.response[key]+"</p>")
                    }

                }else{
                    
                    window.location='/admin/Masters/disttab/';
                }
                }

            });
        }

    });

      
})
</script>



</body>
</html>
