<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Add hospital details | OpenSRP </title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<style>
h1 {
    font-size:200%;
}
legend {
    padding:0 5px;
    text-align:right;
}
fieldset > div {
    margin:10px 0;
}
fieldset > legend + div {
    margin-top:0;
}
fieldset > div:last-child {
    margin-bottom:0;
}
label {
    display:inline-block;
    width:100px;
}
/*input {
    width:200px;
}*/
input[type="number"] {
    width:30px;
}
div > input[type="submit"] {
    background: #ccc;
    border:1px solid #999;
    width:auto;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}
div.submit {
    margin-left:100px;
}
.field-validation-error
{

    color:red;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>

<!--added cdn for unobtrusive validation-->

<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>


<meta name="robots" content="NONE,NOARCHIVE" />
<style type="text/css">
        #header {
                   background: #000066
         }

</style>
</head>

<body class=" app-Masters model-hospitaldetails change-form">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">OpenSRP</a></h1>

        </div>

        <div id="user-tools">

                Welcome,
                <strong>root</strong>.


                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>


    </div>
    <!-- END Header -->

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/Masters/">Masters</a>
&rsaquo; <a href="/admin/Masters/healthcenters/">HealthCenter</a>
&rsaquo; Add HealthCenter
</div>

    <!-- Content -->
    <div id="content" class="colM">

        <h1>Add hospital details</h1>
        <div id="content-main">




<form enctype="multipart/form-data" action="" method="get" id="hospital_form" >
    {% csrf_token %}

<div>
  <fieldset class="module aligned ">

        <div class="form-row field-hos_name">

                        <div>
                        <label class="required" for="id_hospital_name">Hospital name:<span style="color:red">&nbsp;*</span></label>
                        <input type="hidden" value="0" name="id" id="hdID"> 
                        <input class="vTextField" id="id_hospital_name" name="hname" value="{{edit_details.hospital_name}}" data-val="true" data-val-required="hospital name cannot be empty" data-val-regex="Special characters are not allowed" data-val-regex-pattern="^[^/\\~@#$%^*\&lt;>`=+|]*$"  data-val-remote-url="/hospitalvalidate/" data-val-remote-additionalfields="*.id,*.hname" data-val-remote="Hospital  with this name already registered" maxlength="30"/>
                        <span class="field-validation-valid" data-valmsg-for="hname" data-valmsg-replace="true" ></span>
                        </div>

                        

        </div>
        <div class="form-row field-address">
                <div>

                    <label class="required">Address :<span style="color:red">&nbsp;*</span></label>
                    <input class="vTextField" id="id_address_name" name="address" value="{{edit_details.hospital_address}}" data-val="true" data-val-required="Role cannot be empty"/>
                    <span class="field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true" ></span>
                </div>
                
        </div>
         <div class="form-row field-country">
                  <div>
                        <label class="required" for="country">Country name:<span style="color:red">&nbsp;*</span></label>

                            
                            <select id="country" name="country_name" data-val="true" data-val-required="Country cannot be empty">
                            <!-- <option value="">select</option> -->
                                {%for x in country %}

                                <option value="{{x}}" >{{x}}</option>
                                {% endfor %}
                            </select>
                             <span class="field-validation-valid" data-valmsg-for="country_name" data-valmsg-replace="true" ></span>
                </div>
        </div>
        <div class="form-row field-county">
              <div>
                        <label class="required" for="id_county_name">County name:<!-- <span style="color:red">&nbsp;*</span> --></label>

                            <select id="id_county_name" name="county_name" value="" >
                            {% for x in county %}
                            <option value="{{x}}" >{{x}}</option>
                            {% endfor %}
                       </select>

                      <!--  <span class="field-validation-valid" data-valmsg-for="county_name" data-valmsg-replace="true" ></span> -->

              </div>
        </div>
        <div class="form-row field-district_name">
                <div>
                        <label class="required" for="id_district_name">District name:<!-- <span style="color:red">&nbsp;*</span> --></label>
                        <select id="id_district_name" name="district_name" value=""  >
                        {% for x in district %}
                            <option value="{{x}}" >{{x}}</option>
                        {% endfor %}
                        </select>

                      <!--   <span class="field-validation-valid" data-valmsg-for="district_name" data-valmsg-replace="true" ></span> -->
                </div>

        </div>
        <div class="form-row field-sub_district_name">
                <div>

                        <label class="required" for="id_subdistrict_name">Sub-District name:<!-- <span style="color:red">&nbsp;*</span> --></label>

                            <select id="id_subdistrict_name" name="subdistrict_name" value="">
                            {% for x in subdistrict %}
                            <option value="{{x}}" >{{x}}</option>
                            {% endfor %}

                       </select>

                      <!--  <span class="field-validation-valid" data-valmsg-for="subdistrict_name" data-valmsg-replace="true" ></span> -->


                </div>
        </div>
        <!-- <div class="form-row field-sub_location_name">
                <div>


                        <label class="required" for="id_location_name">Village / Location:</label>

                <select id="id_location_name" name="village_location" value="{{location}}" >
                           {% for x in location %}
                            <option value="{{x}}" >{{x}}</option>
                            {% endfor %}

	            </select>
                
                </div>
        </div>
 -->
        <div class="form-row field-hos_type">
                <div>


                    <label class="required" for="hospitaltype">Type:<span style="color:red">&nbsp;*</span></label>

                    <select id="hospitaltype" name="hospital_type" value="{{location}}" data-val="true" data-val-required="hospitaltype cannot be empty">
                    {% for x in hostype%}
                        <option value="{{x}}">{{x}}</option>
                    {% endfor %}
	                    
	                </select>

                    <span class="field-validation-valid" data-valmsg-for="hospital_type" data-valmsg-replace="true" ></span>
                    
                </div>
        </div>
        <div class="form-row field-parent_hospital_name">
                <div>

                    <label class="required" for="parent_hospital">Parent Hospital:<span id="parenthosp-span"style="color:red">&nbsp;*</span></label>

                       <select id="parent_hospital" name="parent_hosp" value="{{location}}" data-val="true" data-val-required="parenthospital cannot be empty">
                       {% for p in parenthos%}
                        <option value="{{p}}">{{p}}</option>
                       {% endfor %}
                       </select>
                       <span class="field-validation-valid" data-valmsg-for="parent_hosp" data-valmsg-replace="true" ></span>

                </div>
        </div>


        <div class="form-row field-village" id="dv-village" style="display:none">

            <label class ="required" >Village:<span  style="color:red">&nbsp;*</span></label>
                <div  id='village-select' >

               {% for v in villages%}
               <input type="checkbox" checked="checked" value="{{v}}" name='village' id="village">
               {{v}}
               {% endfor %}
               </div>
        </div>

        <div class="form-row field-status">
                <div class="checkbox-row">
                        <input  id="status" name="status" type="checkbox" value="{{active}}" />
                        <label class="vCheckboxLabel" for="id_status">active</label> 
                </div>
            
        </div>
</fieldset>
</div>
<div class="submit-row">
<button type="submit" class="btn btn-success"   id="advance-save-button">save</button>
<button type="button" class="btn btn-success" id="advance-cancel-button">cancel</button>
</div>

</form></div>

  <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>


<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>



<script type="text/javascript">
function GetRecordId(words) {
    var n = words.split('/');
    return n[n.length-2];

}
$("document").ready(function(){
$("#hdID").val(GetRecordId(window.location.pathname));
$('#status').val()=='true' ?  $('#status').attr('checked','checked') :  $('#status').removeAttr('checked');
//console.log($('#village').val())
//debugger
var village_val=$('#village').val();
if (!village_val) {
//$('#village').css('display','none');
 document.getElementById("dv-village").style.display="none";
}
    $("#country").on('change', function(e){
        var dev = $(e.currentTarget).val();
        alert(dev)
        $.ajax({
            url:"/county/?country_name="+ dev,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#id_county_name').empty();
                $('#id_district_name').empty();
                 $('#id_subdistrict_name').empty();
                  $("#id_county_name").append($('<option value="">select</option>'))
                $.each(result.res, function(key, valtext){
                    $('#id_county_name').append($('<option>', {
                        value: valtext,
                        text : valtext
                    }));
                });
            }
        })
    });
});

 $("document").ready(function(){
    $("#id_county_name").on('change', function(e){
        var county = $(e.currentTarget).val();
        alert(county)
        $.ajax({
            url:"/district/?county_name="+ county,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#id_district_name').empty();
                $('#id_subdistrict_name').empty();
                  $("#id_district_name").append($('<option value="">select</option>'))
                $.each(result.res, function(key, valtext){
                    $('#id_district_name').append($('<option>', {
                        value: valtext,
                        text : valtext
                    }));
                });
            }
        })
    });
});

 $("document").ready(function(){
    $("#id_district_name").on('change', function(e){
        var district = $(e.currentTarget).val();
        //alert(district)
        $.ajax({
            url:"/subdistrict/?district_name="+ district,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#id_subdistrict_name').empty();
                  $("#id_subdistrict_name").append($('<option value="">select</option>'))
                $.each(result.res, function(key, valtext){
                    $('#id_subdistrict_name').append($('<option>', {
                        value: valtext,
                        text : valtext
                    }));
                });
            }
        })
    });
});

//  $("document").ready(function(){
//     $("#id_subdistrict_name").on('change', function(e){
//         var subdistrict = $(e.currentTarget).val();
//         //alert(subdistrict)
//         $.ajax({
//             url:"/location/?subdistrict_name="+ subdistrict,
//             type: "GET",
//             dataType: "json",
//             success: function(result){
//                 $('#id_location_name').empty();
//                 $('#village-select').empty();
//                 $.each(result.res, function(key, valtext){
//                     $('#id_location_name').append($('<option>', {
//                         value: valtext,
//                         text : valtext
//                     }));
//                 });
                
//             }
//         })
//     });
// });


 $("document").ready(function(){
var hostype=document.getElementById('hospitaltype').value;
document.getElementById("parenthosp-span").style.display="";  
        if (hostype!="Country") {

            if (hostype=="Subcenter") {
                  //document.getElementById("village-span").style.display="";
                   //document.getElementById("village-select").style.display=""
                     document.getElementById("dv-village").style.display="";

            }
            else
            {

              $('#village-select').empty();
              // document.getElementById("village-select").style.display="none"
                document.getElementById("dv-village").style.display="none";
            }
        

        
        }
        else{
            document.getElementById("parenthosp-span").style.display="none";
        //document.getElementById("village-span").style.display="none";
          document.getElementById("dv-village").style.display="none";
        }
        
       
    $("#hospitaltype").on('change', function(e){

        var country = $("select[name=country_name]").val();
        //alert(country)
        var county= $("select[name=county_name]").val();
        //alert(county)
        var district= $("select[name=district_name]").val();
        //alert(district)
        var subdistrict= $("select[name=subdistrict_name]").val();
        //alert(subdistrict)
      //  var location= $("select[name=village_location]").val();
        //alert(location)
        var hostype = $(e.currentTarget).val();
        $('#village-select').empty();
        

        if (hostype!="Country") {
debugger;
            if (hostype=="Subcenter") {
                  //document.getElementById("village-span").style.display="";
                  //document.getElementById("village-select").style.display=""
                  document.getElementById("dv-village").style.display="";
            }else{
 $('#village-select').empty();
 document.getElementById("dv-village").style.display="none";
            }
       document.getElementById("parenthosp-span").style.display="";
                 //  document.getElementById("dv-village").style.display="none";

        $.ajax({
            url:"/parenthospital/?country="+ country+"&county="+ county+"&district="+district+"&subdistrict="+subdistrict+"&hos_type="+hostype,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#parent_hospital').empty();
                
                $.each(result.res, function(key, valtext){
                    $('#parent_hospital').append($('<option>', {
                        value: valtext,
                        text : valtext
                    }));
                    $('#village-select').empty();
                $.each(result.village, function(key, valtext){
                     $("#village-select").append("<input type=checkbox value='"+valtext+"' name='village'>"+valtext);
                 });
                });
            }
        })
    }
     else
        {
             $('#parent_hospital').empty();
document.getElementById("parenthosp-span").style.display="none";
       // document.getElementById("village-span").style.display="none";
       document.getElementById("dv-village").style.display="none";
          $('#village-select').empty();
                 // document.getElementById("village-select").style.display="none"
        }
    });
});



$("document").ready(function(){
    $("form").submit(function  (e) {
        // body...
        e.preventDefault();

        if ($("form").valid()) {
            var hosname = document.getElementById("id_hospital_name").value;
            //alert(hosname)
            var hostype = $("select[name=hospital_type]").val();
            //alert(hostype)
            var address = document.getElementById("id_address_name").value;
            //alert(address)
            var country= $("select[name=country_name]").val();
            //alert(country)
            var county= $("select[name=county_name]").val();
            //alert(county)
            var district= $("select[name=district_name]").val();
            //alert(district)
            var subdistrict= $("select[name=subdistrict_name]").val();
            //alert(subdistrict)
          //  var location= $("select[name=village_location]").val();
            //alert(location)
            var parenthospital = $("select[name=parent_hosp]").val();
            //alert(parenthospital)
            var villages = [];
            $.each($("input[name='village']:checked"), function(){
                //alert(villages.push($(this).val()))
                villages.push($(this).val());
            });
            villages=villages.join(",")
            //alert(villages)
            var active=document.getElementById('status').checked==true ? "true" :"false";
            $.ajax({

                url: "/updatehospital/?name="+hosname+ "&type="+hostype+"&add="+address+"&hos_country="+country+"&hos_county="+county+"&hos_district="+district+"&hos_subdistrict="+subdistrict+"&parent_hos="+parenthospital+"&hos_village="+villages+"&active="+active,
                type: 'GET',
                acceptType: "json",
                success: function (result) {
                if (result.error){
                    
                    for (var key in result.response.keys()){
                        $("#id_"+key).after("<p class='error'>"+result.response[key]+"</p>")
                    }

                }else{
                    
                    window.location='/admin/Masters/healthcenters/';
                }
                }

            });

        }
       
    });
    $("#advance-cancel-button").on('click', function(){
        window.location="/admin/Masters/healthcenters/";
    });
})
</script>



</body>
</html>