<!DOCTYPE html> 
<html lang="en-us" >
<head>
<title>Add hospital details | OpenSRP </title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<style>
h1 {
    font-size:200%;
}
legend {
    padding:0 5px;
    text-align:right;
}
fieldset > div {
    margin:10px 0;
}
fieldset > legend + div {
    margin-top:0;
}
fieldset > div:last-child {
    margin-bottom:0;
}
label {
    display:inline-block;
    width:100px;
}
/*input {
    width:200px;
}*/
input[type="number"] {
    width:30px;
}
div > input[type="submit"] {
    background: #ccc;
    border:1px solid #999;
    width:auto;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}
div.submit {
    margin-left:100px;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
<style type="text/css">
        #header {
                   background: #000066  
         }

</style>
</head>

<body class=" app-Masters model-hospitaldetails change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">OpenSRP</a></h1>

        </div>
        
        <div id="user-tools">
            
                Welcome,
                <strong>root</strong>.
            
                
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/Masters/">Masters</a>
&rsaquo; <a href="/admin/Masters/hospitaldetails/">Hospital detailss</a>
&rsaquo; Add hospital details
</div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Add hospital details</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="GET" id="hospitaldetails_form" >
<!--<input type='hidden' name='csrfmiddlewaretoken' value='jA4srgo4AMk0lWfuhEY5lwVvzmC0VPn3' /> -->
{% csrf_token %}

<div>
    <fieldset class="module aligned ">
    
        <div class="form-row field-country">
                <div>
                        <label class="required" for="id_country">Country:</label>
                            <select id="id_country" name="country_name">
                            
                            <option value="india">india</option>
                            <option value="china">china</option>
                            <option value="america">america</option>
                            <option value="england">england</option>
                            </select> 
                            
                </div>
        </div>
        <div class="form-row field-hospital_name">
                        <div>
                        <label class="required" for="id_hospital_name">Hospital name:</label>
                        <input class="vTextField" id="id_hospital_name" value="" required  />
                        </div>
        </div>
        <div class="form-row field-hospital_type">
                         
                <div>
                        <label class="required" for="semestersList">Hospital Type:</label>
                            <select required id="devata-select" name="hospital_type">
                                <option value=""></option>
                                <option value="district">district</option>
                                <option value="taluka">taluka</option>
                                <option value="phc">phc</option>
                                <option value="subcenter">subcenter</option>
                            </select> 
                </div>

        </div>
        <div class="form-row field-hospital_name"> 
                    <div>           
                        <label class="required" for="id_village">Address:</label>
                            <select id="chaandas-select" name="address" value="" >
                       </select> 
                    </div>
                    
        </div>
        
        <div class="form-row field-village">
                
            <label class ="required" >Village:</label>
                <div  id='village-select'>
         
            <!-- <input type="checkbox"  value="village-select" name="village" id = 'villageselected'> -->
               </div>
        </div>
        <div class="form-row field-parent_hospital">
                <div>
                       <label class="required" for="id_parent_hospital">Parent hospital:</label>
                            <select id="id_parent_hospital" name="parent_hospital">
                            {%for x in x %}
                                <option value="{{x}}">{{x}}</option>
                            {%endfor%}
                            </select>
                </div> 
        </div>
        <div class="form-row field-status">
                <div class="checkbox-row">
                        <input checked="checked" id="id_status" name="status" type="checkbox" /><label class="vCheckboxLabel" for="id_status">active</label> 
                </div>
            
        </div>
    

    </fieldset>
</div>

<div class="submit-row">
<button type="submit" class="btn btn-success" id="advance-save-button">save</button>
<button type="submit" class="btn btn-success" id="advance-cancel-button">cancel</button>
</div>

</form></div>

  <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>

<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>

<script type="text/javascript">

    $("#devata-select").on('change', function(e){
        var dev = $(e.currentTarget).val();
        $.ajax({
            url:"/gettype/?devata="+ dev,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#chaandas-select').empty();
                $.each(result.res, function(key, valtext){
                    $('#chaandas-select').append($('<option>', {
                        value: valtext,
                        text : valtext
                    }));
                });
            }
        })
    });

    $("#chaandas-select").on('change', function(e){
        var subcenter = $(e.currentTarget).val();
        $.ajax({
            url:"/getvillages/?villages="+ subcenter,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#village-select').empty();
                $.each(result.res, function(key, valtext){
                    $("#village-select").append("<input type=checkbox value='"+valtext+"' name='village'>"+valtext);
                });
            }
        })
    });

    $("document").ready(function(){
        
        $("#advance-save-button").on('click', function(){
           
            
             $('#hospitaldetails_form').validate({ // initialize the plugin
                 rules: {
                    hospital_name: {
                        required: true,
                        // minlength: 5
                    },
                },
            submitHandler: function (form) {
            var country = $("select[name=country_name]").val();
            alert(country)
            var hosname = document.getElementById("id_hospital_name").value;
            alert(hosname)
            var hostype = $("select[name=hospital_type]").val();
            alert(hostype)
            var address = $("select[name=address]").val();
            var villages = [];
            $.each($("input[name='village']:checked"), function(){            
                villages.push($(this).val());
            });
            villages=villages.join(",")
            
            //alert(villages)
            var parenthos = $("select[name=parent_hospital]").val();
            //alert(parenthos)
            var active = [];
            $.each($("input[name='status']:checked"), function(){            
                active.push($(this).val());
            });
            $.ajax({

                url: "/savehospital/?country="+ country +"&hosname="+ hosname +"&hostype="+ hostype +"&address="+ address +"&villages="+ villages +"&parenthos="+ parenthos +"&active="+ active,
                type: 'GET',
                acceptType: "json",
                success: function (result) {
                if (result.error){
                    // $("p.error").remove();
                    alert('hi');
                    for (var key in result.response.keys()){
                        $("#id_"+key).after("<p class='error'>"+result.response[key]+"</p>")
                    }
                    
                }else{
                    //top.location.href = result.redirect;
                    //alert('hii');
                    window.location='/admin/Masters/hospitaldetails/';
                }
                }

            });
            
            }
        });
        })

    });
    $("#advance-cancel-button").on('click', function(){
        window.location="/admin/Masters/hospitaldetails/";
    });
</script> 

</body>
</html>