<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Reset Password | OpenSRP </title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<style>
h1 {
    font-size:200%;
}
legend {
    padding:0 5px;
    text-align:right;
}
fieldset > div {
    margin:10px 0;
}
fieldset > legend + div {
    margin-top:0;
}
fieldset > div:last-child {
    margin-bottom:0;
}
label {
    display:inline-block;
    width:100px;
}
/*input {
    width:200px;
}*/
input[type="number"] {
    width:30px;
}
div > input[type="submit"] {
    background: #ccc;
    border:1px solid #999;
    width:auto;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}
div.submit {
    margin-left:100px;
}
.field-validation-error
{

    color:red;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<!--added cdn for unobtrusive validation-->
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
<style type="text/css">
        #header {
                   background: #000066
         }

</style>
</head>

<body  class=" app-Masters model-reset-password">

<!-- Container -->
<div id="container">

 <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">OpenSRP</a></h1>

        </div>

        <div id="user-tools">

                Welcome,
                <strong>root</strong>.


                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>


    </div>
    <!-- END Header -->
  <div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/Masters/">Masters</a>
&rsaquo; <a href="/admin/Masters/usermasters/">UserMaintenance</a>
&rsaquo; Add UserMaintenance
</div>


    <!-- Content -->
    <div id="content" class="colM">

        <h1>Reset Password</h1>
        <div id="content-main">




<form enctype="multipart/form-data" action="" method="post" id="pwd_reset_form" name="pwd_reset_form">
{% csrf_token %}

<div>

  <fieldset class="module aligned ">
   
        
        <div class="form-row field-user-id">
                  <div>
                        <label class="required" for="user_id">User ID:</label>

    <label class="required" for="user_id_value" id="lbl_user_id" name="lbl_user_id"></label>
                       
                            
                </div>
        </div>
        <div class="form-row field-password">
            
                        <div>
                          
                        <label class="required" for="id_user_pwd">Password:<span style="color:red">&nbsp;*</span></label>
                        <input type="password" class="vTextField" id="id_user_pwd" name="user_pwd"  data-val="true" data-val-required="Password cannot be empty"  maxlength="10" minlength="6" />
                        <span class="field-validation-valid" data-valmsg-for="user_pwd" data-valmsg-replace="true" ></span>
                        </div>
            
        </div>
        <div class="form-row field-user_conf_pwd">
            
                        <div>
                        <label class="required" for="user_conf_pwd">Confirm Password:<span style="color:red">&nbsp;*</span></label>
                        <input type="password" class="vTextField" id="id_user_conf_pwd" name="user_conf_pwd"  data-val="true" data-val-required="Confirm Password cannot be empty"  maxlength="10" minlength="6" data-val-equalto="Password and confirm password must match!" data-val-equalto-other="*.user_pwd"/>
                         
                          <span class="field-validation-valid" data-valmsg-for="user_conf_pwd" data-valmsg-replace="true"></span>
                        </div>
            
        </div>
       
        </div>
        
    
    
        
    
        
</fieldset>

<div class="submit-row">
<button type="submit" class="btn btn-success"   id="advance-save-button" >save</button>
<button type="button" class="btn btn-success" id="advance-cancel-button" onclick="javascript:window.location='/admin/Masters/usermasters/'">cancel</button>

</div>
</div>
</form></div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>

<script type="text/javascript">

//function to read query string from current url
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
$("document").ready(function(){   
   
   document.getElementById('lbl_user_id').innerHTML=getUrlVars()["uname"];
        $("form").submit( function(e){
         
e.preventDefault();
debugger;
            if ($("form").valid()) 
    {
       

          
            var password=document.getElementById("id_user_conf_pwd").value;           
           
        
            $.ajax({
                url: "/savepassword/?id="+getUrlVars()["id"] +"&password="+ password,
                type: "GET",
                dataType: "json",
                success: function(result){
                    //console.log(result)
                    if (result.error){
                    // $("p.error").remove();
                    //alert('hi');
                    for (var key in result.response.keys()){
                        $("#id_"+key).after("<p class='error'>"+result.response[key]+"</p>")
                    }

                }else{
                    //top.location.href = result.redirect;
                    //alert('district');
                    window.location='/admin/Masters/usermasters/';
                }
                }
            });    

            }  
    })

    
})


</script> 




</body>
</html>