<!DOCTYPE html>
<html lang="en-us" >
<head>
<style>
h1 {
    font-size:200%;
}
legend {
    padding:0 5px;
    text-align:right;
}
fieldset > div {
    margin:10px 0;
}
fieldset > legend + div {
    margin-top:0;
}
fieldset > div:last-child {
    margin-bottom:0;
}
label {
    display:inline-block;
    width:100px;
}
/*input {
    width:200px;
}*/
input[type="number"] {
    width:30px;
}
div > input[type="submit"] {
    background: #ccc;
    border:1px solid #999;
    width:auto;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}
div.submit {
    margin-left:100px;
}

.vIntegerField2 {

    width:10em;
}
</style>
<title>Add user maintenance | OpenSRP </title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />


<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>


<meta name="robots" content="NONE,NOARCHIVE" />
<style type="text/css">
        #header {
                   background: #000066  
         }

</style>

</head>


<body class=" app-Masters model-usermaintenance change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">OpenSRP</a></h1>

        </div>
        
        <div id="user-tools">
            
                Welcome,
                <strong>dhanush</strong>.
            
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/Masters/">Masters</a>
&rsaquo; <a href="/admin/Masters/usermaintenance/">User maintenances</a>
&rsaquo; Add user maintenance
</div>


    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Add user maintenance</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="GET" id="usermaintenance_form" >
<!-- <input type='hidden' name='csrfmiddlewaretoken' value='soFQwqCqQulSelcfIXdtDmK3cgSN7Gh5' /> -->
{% csrf_token %} 
<div>

  <fieldset class="module aligned ">
        <div class="form-row field-user_role">
                <div>
                        <label class="required" for="id_user_role">User role:</label>
                        
                            <select required id="id_user_role" name="user_role">
                            <option value="" selected="selected">---------</option>
                            <option value="ANM">ANM</option>
                            <option value="PHC">PHC</option>
                            <option value="DOC">DOC</option>
                            </select>
                        
                </div>
            
        </div>
    
        <div class="form-row field-user_id">
                <div>
                        <label class="required" for="id_user_id">User id:</label>
                        <input class="vTextField" id="id_user_id" maxlength="100" name="user_id" type="text" required/>
                    
                </div>
            
        </div>
    
        <div class="form-row field-firstname">
            
            
                <div>
                    
                    
                        <label class="required" for="id_firstname">Firstname:</label>
                        
                            <input class="vTextField" id="id_firstname" maxlength="200" name="firstname" type="text" required/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-lastname">
            
            
                <div>
                    
                    
                        <label class="required" for="id_lastname">Lastname:</label>
                        
                            <input class="vTextField" id="id_lastname" maxlength="200" name="lastname" type="text" required/>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-password">
            
            
                <div>
                    
                    
                        <label class="required" for="id_password">Password:</label>
                        
                            <input id="id_password" name="password" type="password" required/>
                        
                    
                    
                </div>
            
        </div>
    
            <div class="form-row field-hospital">

                <div>
                        <label class="required" for="" >Hospital:</label>
                      
          <select  id="id_hospital" name="hospital">
                            {%for xy in x%}
            <option value="{{xy}}">{{xy}}</option>
                            {%endfor%}
                            </select>
                </div>
           
            </div> 
    
        <div class="form-row field-mobile">

                <div>

                        <label class="required" for="id_mobile">Mobile:</label>
                        
                            <input class="vIntegerField2" id="id_mobile" maxlength="150" size="50" name="mobile" type="text" required />

                </div>
            
        </div>
    
        <div class="form-row field-email">
            
                <div>
                    
                        <label class="required" for="id_email">Email:</label>
                        
                            <input class="vTextField" id="id_email" maxlength="150" name="email" type="text" required/>
                        
                    
                </div>
            
        </div>
        <div class="form-row field-village">
               
                    <label class="required">Village:</label>
                <div  id='village-select'>
         
            <!-- <input type="checkbox"  value="village-select" name="village" id = 'villageselected'> -->
               </div>
        </div>
        
        <div class="form-row field-status">
            
            
                <div class="checkbox-row" id ="checkbok-id">
                    
                    
                        <input checked id="id_status" name="status" type="checkbox" /><label class="vCheckboxLabel" for="id_status">active</label>
                    
                    
                </div>
                <div class="checkbox-row">
                    
                    
                        <input  id="id_pnc" name="pnc_status" type="checkbox" /><label class="vCheckboxLabel" for="id_status">pnc</label>
                    
                    
                </div>
                <div class="checkbox-row">
                    
                    
                        <input  id="id_anc" name="anc_status" type="checkbox" /><label class="vCheckboxLabel" for="id_status">anc</label>
                    
                    
                </div>
                <div class="checkbox-row">
                    
                    
                        <input  id="id_ec" name="ec_status" type="checkbox" /><label class="vCheckboxLabel" for="id_status">ec</label>
                    
                    
                </div>
                <div class="checkbox-row">
                    
                    
                        <input  id="id_fp" name="fp_status" type="checkbox" />
                        <label class="vCheckboxLabel" for="id_status">fp</label>
                    
                    
                </div>
                <div class="checkbox-row">
                    
                    
                        <input  id="id_child" name="child_status" type="checkbox" />
                        <label class="vCheckboxLabel" for="id_status">child</label>
                    
                    
                </div>
            
        </div>
        
</fieldset>

<div class="submit-row">
<button type="submit" class="btn btn-success"   id="advance-save-button">save</button>
<button type="submit" class="btn btn-success" id="advance-cancel-button">cancel</button>
</div>



<script type="text/javascript">
(function($) {
    var field;


})(django.jQuery);
</script>


</div>
</form></div>

        
    <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<script type="text/javascript">
    $('#id_user_role').change(function () {
        if($(this).val() === 'ANM') {
            $('.checkbox-row').show();
        }
        // else {
        //     $('.checkbox-row').hide();
        // }
        if($(this).val() ==='PHC'){
            $('#checkbok-id').show();
        }

        if($(this).val() ==='DOC'){
            $('#checkbok-id').show();
        }

    });
   
    $("#id_hospital").on('change', function(e){

        var hospital = $(e.currentTarget).val();
        
        $.ajax({
            url:"/getvillage/?hospital_name="+ hospital,
            type: "GET",
            dataType: "json",
            success: function(result){
                $('#village-select').empty();
                $.each(result.res, function(key, valtext){
                    
                    $("#village-select").append("<input type=checkbox value='"+valtext+"' name='village'>"+valtext);
                });
            }
        })
    });
    
    $("document").ready(function(){
        $("#advance-save-button").on('click', function(){

            $('#usermaintenance_form').validate({ // initialize the plugin
                 rules: {
                    user_role: {
                        required: true,
                        
                    },
                    user_id: {
                        required: true,
                        
                    },
                    firstname: {
                        required: true,
                       
                    },
                    lastname: {
                        required: true,
                        
                    },
                    password: {
                        required: true,
                        
                    },
                    mobile: {
                        required: true,
                       
                    },
                    email: {
                        required: true,
                        
                    },
                    
                },
            submitHandler: function (form) {
            var user_role = $("select[name=user_role]").val();
            alert(user_role);
            var userid = document.getElementById("id_user_id").value;
            var fst_name = document.getElementById("id_firstname").value;
            var lst_name = document.getElementById("id_lastname").value;
            var pwd= document.getElementById("id_password").value;
            var hospital_name = document.getElementById("id_hospital").value;
            var mb = document.getElementById("id_mobile").value;
            var mail = document.getElementById("id_email").value;
            

            var villages = [];
            $.each($("input[name='village']:checked"), function(){ 
                         
                villages.push($(this).val());
            });
            villages=villages.join(",")
            
            var active = [];
            $.each($("input[name='status']:checked"), function(){  
                                      
                active.push($(this).val());
                

            });
            var pnc=[];
            $.each($("input[name='pnc_status']:checked"), function(){
                      
                pnc.push($(this).val());


            });
            var anc=[];
            $.each($("input[name='anc_status']:checked"), function(){
                      
                anc.push($(this).val());
            });
            var ec=[];
            $.each($("input[name='ec_status']:checked"), function(){ 
                        
                ec.push($(this).val());
            });
            var fp =[];
            $.each($("input[name='child_status']:checked"), function(){  
                        
                fp.push($(this).val());
            });
            var child =[];
            $.each($("input[name='fp_status']:checked"), function(){
                          
                child.push($(this).val());
            });
            
            $.ajax({
                url: "/saveusermaintenance?userrole="+ user_role +"&userid="+ userid +"&first_name="+ fst_name +"&last_name="+ lst_name +"&hospital="+ hospital_name+"&village="+ villages +"&password="+ pwd + "&mobile="+ mb + "&email="+ mail +"&active="+ active + "&pnc="+ pnc + "&anc="+ anc +"&ec="+ ec+"&child="+ child +"&fp="+ fp,
                type: "GET",
                acceptType: "json",
                success: function(result){
                    
                   
                    window.location='/admin/Masters/usermaintenance/';

                }
            });

            }
        });

        })
        
    });
    $("#advance-cancel-button").on('click', function(){
        window.location="/admin/Masters/usermaintenance/";
    });
</script> 


<!-- END Container -->

</body>
</html>
